<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function check_name(){
            var f = document.frm.name.value;
            var reg = /^[A-Za-z]+$/;

            if (f.trim()==""){
                document.getElementById("error").innerHTML="Please Enter Your Name";
            }
            else if(!reg.test(f)){
                document.getElementById("error").innerHTML="Please Enter Only Alphabets";
            }
            else{
                document.getElementById("error").innerHTML="";
            }
        }
    </script>
</head>
<body>
    <center>
    {% if msg %}
        <b style="color: red;">{{msg}}</b>
    {% endif %}
    <br>
    <a href="{% url 'show' %}"> Show Data </a>
    <h1>Insert Data</h1>
    <form action="{% url 'insert' %}" method="post" name="frm">
    {% csrf_token %}    
        <table>
            <tr>
                <td>Name </td>
                <td><input type="text" name="name" onblur="check_name();"></td>
                <td><span id="error" style="color: red;"></span></td>

            </tr>
            <tr>
                <td>Email </td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Contact </td>
                <td><input type="text" name="contact"></td>
            </tr>
            <tr>
                <td>Address </td>
                <td><textarea name="address" id="" cols="21" rows="5"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>

    </form>
    </center>
</body>
</html>