<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="/fetchdata" method="POST">
            <table>
                <h1>Form Data</h1>
                <tr>
                    <td>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="number">Number</label>
                        <input type="text" id="number" name="number">
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>