{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>User Login</h1>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'register' %}">Sign Up</a>
        <a href="{% url 'imgform' %}">Image</a>
        
		<div class="main-agileinfo">
			{% if msg %}
        		<p style="color: rgb(240, 7, 27); font-size: 20px;">{{msg}}</p>
        	{% endif %}
			<div class="agileits-top">
				
				<form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text w3lpass" type="password" name="password" placeholder="Password" required="">
					<input type="submit" name="action" value="LOGIN">
				</form>
				<p>Don't have an Account? <a href="{% url 'register' %}"> SignUp Now!</a></p>
			</div>
		</div>
		
	</div>
	<!-- //main -->
</body>
</html>